<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Miller Auto Insurance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="~/img/m.png" width="50" height="50" class="d-inline-block align-center" alt="M" />
                Miller Automobile Insurance
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-link">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="nav-item nav-link">@Html.ActionLink("Quote", "Quote", "Home")</li>
                    <li class="nav-item nav-link">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Miller Auto Insurance</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
