@{
    ViewBag.Title = "Insurance Calculation";

}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<br />
<div class="form">
    <div class="card col-sm-12 col-md-10 col-lg-6 shadow">
        <h5 class="m-3">Vehicle Rate Result</h5>
        <div class="card-body">
            <div class="row m-5">
                <h6>
                    The Miller Insurance premium for @ViewBag.customer.FirstName  @ViewBag.customer.LastName  driving a @ViewBag.automobile.Year  @ViewBag.automobile.Make  @ViewBag.automobile.Model  will be:
                </h6>
            </div>
            <div class="row m-3">
                <h5>@String.Format("{0:c}", ViewBag.customer.Rate) monthly.</h5>
            </div>
        </div>
    </div>
</div>